@media screen and(max-width: 850px){
    .cardContainer{
        width: 90%;
    }
}


@media screen and(max-width: 650px){
    .filterForm{
        padding: 1em;
    }
    .categoryForm, .groupForm{
        gap: 1.5em;
    }
}

@media screen and(max-width: 550px){
    .introContainer{
        padding: 4em 1em;
    }

    .formContact, #adminForm{
        width: 100%;
        input,textarea{
            width: 85%;
            min-width: auto;
        }
    }
}

@media screen and(max-width: 400px){
    .card{
        width: 90%;
    }
}
