@media screen and(max-width: 800px){
    header{
        #burgerButton{
            opacity: 1;
            visibility: visible;
        }
        #navbar{
            position: fixed;
            visibility: hidden;
            z-index: 2;
            inset: 0 0 0 0;
            padding: 2em;
            padding-bottom: 1em;
            background-color: #154854f8;
            transform: translateX(400%);
            @include transi();
            @include flex(center, column, center, nowrap);
            overflow: scroll;

            &.active{
                transform: translate(0);
                visibility: visible;
                opacity: 1;
            }

            a{
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}

