{% extends 'base.html.twig' %}

{% block title %}Accueil | Nos Gens ont du Talent!{% endblock %}

{% block body %}
<main>
<section class="home">
    <article>
        <div>
            <h1>Bienvenu sur Nos Gens ont du Talent, répertoire de personnes, de sociétés, et d'agences talentueuse !</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit qui rem, velit pariatur, facere reprehenderit illum error temporibus harum sequi in. Vel cupiditate maxime qui, possimus perferendis suscipit itaque atque?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis officiis sunt ipsum rerum saepe temporibus ab nam tempora qui tenetur porro, animi dolor. Aspernatur alias officiis tempore accusamus iure dolores?</p>
        </div>
    </article>
</section>
</main>
{% endblock %}
