{% if group is empty %} 
    <p class="noResult">Aucun résultat n'a été trouvé.</p>
{% endif %}
{% for group in group %}
    {# <div class="groupCard card"> #}
        {% if group.agencyAssociate is defined %}
        <div class="groupCard card" id="a{{group.id}}">
            {% include "company_agency/agencyCard.html.twig" %}
            {% if is_granted('ROLE_ADMIN') %}
                {% set url = ea_url()
                .setController('App\\Controller\\Admin\\AgencyCrudController')
                .setAction('edit')
                .setEntityId(group.id) %}
                <a href="{{ url }}" class="button">Modifier</a>
            {% endif %}
        </div>
        {% elseif group.projects is defined %}
        <div class="groupCard card" id="c{{group.id}}">
            {% include "company_agency/companyCard.html.twig" %}
            {% if is_granted('ROLE_ADMIN') %}
                {% set url = ea_url()
                .setController('App\\Controller\\Admin\\CompanyCrudController')
                .setAction('edit')
                .setEntityId(group.id) %}
                <a href="{{ url }}" class="button">Modifier</a> 
            {% endif %}
        </div>
        {% endif %}
    {# </div> #}
{% endfor %}