{% extends 'base.html.twig' %}

{% block title %}Liste des talents{% endblock %}

{% block body %}
<main>
<section id="talentSection" class="filterSection">
    {% include "filter.html.twig" %}
    <div class="introContainer">
    {% if version == "normal" %}
        <h1>A la recherche d’un Talent ?</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus alias quidem ipsa iste sunt facere, reprehenderit aliquid nisi nostrum asperiores dolores obcaecati ducimus in recusandae expedita debitis delectus architecto quis?
        Dolores nostrum tempora ad aut quidem ab magnam accusantium voluptatibus, illum, eveniet saepe veniam perferendis tempore adipisci doloribus natus, earum quaerat hic sed magni? Commodi ea nam possimus accusantium excepturi.</p>

        <p>Maxime, cum ullam delectus aliquam perferendis enim, totam quis quod recusandae provident, dolores commodi quas a voluptatibus et ad excepturi! Sed illo obcaecati quasi libero natus numquam sit. Ipsum, rem?</p>
    {% elseif version == "ourTalent" %}
        <h1>La liste de nos Talents</h1>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus alias quidem ipsa iste sunt facere, reprehenderit aliquid nisi nostrum asperiores dolores obcaecati ducimus in recusandae expedita debitis delectus architecto quis?
        Dolores nostrum tempora ad aut quidem ab magnam accusantium voluptatibus, illum, eveniet saepe veniam perferendis tempore adipisci doloribus natus, earum quaerat hic sed magni? Commodi ea nam possimus accusantium excepturi.</p>

        <p>Maxime, cum ullam delectus aliquam perferendis enim, totam quis quod recusandae provident, dolores commodi quas a voluptatibus et ad excepturi! Sed illo obcaecati quasi libero natus numquam sit. Ipsum, rem?</p>
    {% endif %}
    </div>

    <div class="talentContainer cardContainer">
        {% if talents is empty %}
            <p class="noResult">Aucun résultat n'a été trouvé.</p>
        {% endif %}
        {% include "talent/talents.html.twig" %}
    </div>

    <div class="navigation">
    {{ knp_pagination_render(talents, 'pagination.html.twig') }}
    </div>
</section>
</main>
{% endblock %}
