* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(../../public/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'robotoBold';
    src: url(../../public/fonts/roboto/Roboto-Bold.ttf);
}

body{
    scroll-behavior: smooth;
    font-family: roboto;
}

a{
    @include transi();
    font-family: robotoBold;
    color: black;

    &:hover{
        color: $thirdColor;
    }
}

main{
    min-height: 100vh;
}

button{
    border: none;
    outline: none;
    appearance: none;
}

.button{
    padding: .3em 1em;
    border-radius: 20px;
    cursor: pointer;
    font-family: robotoBold;
    font-size: 16px;
    color: white;
    @include transi();
    background-color: $thirdColor;
    // border: 1px solid black;

    &:hover{
        box-shadow: 0 0 3px black;
        background-color: white;
        color: $thirdColor;
    }
}

.pagination{
    @include flex();
    gap: .5em;
    background-color: transparent;
    border-radius: 15px;
    padding: 1em;
    // width: 10%;
    min-width: 150px;
    margin: 0 auto;

    li{
        background-color: white;
        font-family: robotoBold;
        
        &.current{
            padding: .8em;
            border: 2px solid $fourthColor;
            color: $fourthColor;
        }

        a{
            display: inline-block;
            padding: .8em;
            border: 2px solid black;

            &:hover{
                border: 2px solid $thirdColor;
            }
        }
    }

    .disabled{
        display: none;
    }
}

.filterForm{
    @include flex(center,column);
    gap: .5em;
    background-color: white;
    padding: 1em 3em;
    position: sticky;
    top: 0;
    min-width: 60%;
    max-width: 900px;
    margin: 0 auto;
    border: 1px black solid;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.categoryForm, .groupForm{
    @include flex();
    padding: 1em 0;
    gap: 1em;
    input, label{
        cursor: pointer;
    }

    div:not(:last-of-type){
        position: relative;
        &:after{
            content: '';
            height: 100%;
            width: 1px;
            position: absolute;
            right: -0.5em;
            top: 0;
            background-color: black;
        }
    }
}

.groupForm{
    padding: 0;
}

.home, .homeSection{
    @include flex();
    padding-top: 3em;
    text-align: center;
}

.adminLogin{
    @include flex();
    padding-top: 3em;

    #adminForm{
        @include flex(center, column);
        gap: .5em;
    }
}

.noResult{
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
    font-family: robotoBold;
}

//filter tags
.inputLabel {
    position: relative;
    display: inline-block;

    input {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    }

    span {
        @include transi();
        cursor: pointer;
        padding: .3em .5em;
        border-radius: 3px;
        background-color: black;
        color: white;
    }

    input:checked + span {
        background-color: hsl(120, 33%, 36%);
    }
}

.categories{
    // align-self: flex-start;
    @include flex(flex-start);
    gap: .5em;
    width: 100%;
    padding-bottom: .5em;

    .tags{
        padding: .3em .5em;
        border-radius: 8px;
        cursor:auto;
        font-family: robotoBold;
        font-size: 16px;
        color: white;
        background-color: $secondaryColor;
    }
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-row-gap: 5em;
    gap: 2em;
    justify-items: center;
    justify-content: center;
    align-items: start;
    align-content: center;
    margin: 0 auto;
    padding: 5em 0;
    width: 80%;
}

.card{
    @include flex(center, column, center);
    @include transi();
    gap: .7em;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.753);
    padding: 1em;
    border-radius: 25px;
    max-width: 350px;
    width: 100%;
    min-height: 200px;

    &:hover{
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.753);
    }

    img{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border: 1px solid black;
    }

    .socialsLink{
        align-self: flex-start;
        padding: .5em 0;
        a{
            display: inline-block;
            margin-right: .3em;
        }
        i{
            font-size: 36px;
        }
    }

    .button{
        background-color: $primaryColor;

        &:hover{
            background-color: white;
            color: $primaryColor;
        }
    }
}

.introContainer{
    @include flex();
    gap: 1em;
    padding: 2em;
    width: 80%;
    text-align: center;

    h1{
        padding-bottom: 1em;
    }
}