* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(../../public/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'robotoBold';
    src: url(../../public/fonts/roboto/Roboto-Bold.ttf);
}

body{
    scroll-behavior: smooth;
    font-family: roboto;
    // background-color: #FFFFFF;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FFFFFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23fdfdfd' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fafafa' cx='50' cy='100' r='50'/%3E%3Cg fill='%23f8f8f8' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f5f5f5' cx='50' cy='200' r='50'/%3E%3Cg fill='%23f3f3f3' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f0f0f0' cx='50' cy='300' r='50'/%3E%3Cg fill='%23eeeeee' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ebebeb' cx='50' cy='400' r='50'/%3E%3Cg fill='%23e9e9e9' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e6e6e6' cx='50' cy='500' r='50'/%3E%3Cg fill='%23e4e4e4' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e1e1e1' cx='50' cy='600' r='50'/%3E%3Cg fill='%23dfdfdf' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dcdcdc' cx='50' cy='700' r='50'/%3E%3Cg fill='%23dadada' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d8d8d8' cx='50' cy='800' r='50'/%3E%3Cg fill='%23d5d5d5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d3d3d3' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d0d0d0' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23CECECE' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    // background-attachment: fixed;
    // background-size: contain;
}

a{
    @include transi();
    font-family: robotoBold;
    color: black;

    &:hover{
        color: $primaryColor;
    }
}

.noScroll{
    overflow: hidden;
}

main{
    min-height: 100vh;
}

button{
    border: none;
    outline: none;
    appearance: none;
}

.button{
    padding: .3em 1em;
    border-radius: 20px;
    cursor: pointer;
    font-family: robotoBold;
    font-size: 16px;
    color: white;
    @include transi();
    background-color: $thirdColor;
    // border: 1px solid black;

    &:hover{
        box-shadow: 0 0 3px black;
        background-color: white;
        color: $thirdColor;
    }
}

.pagination{
    @include flex();
    gap: .5em;
    background-color: transparent;
    padding: 2em 1em 0;
    min-width: 150px;
    margin: 0 auto;

    li{
        background-color: white;
        font-family: robotoBold;
        border-radius: 50%;
        min-width: 40px;
        min-height: 40px;
        @include flex();
        color: white;
        background-color: $thirdColor;
        padding: .5em;
        @include transi();

        &:hover:not(.current){
            transform: scale(1.1);
        }
        
        &.current{
            background-color: $primaryColor;
        }

        a{
            display: inline-block;
            color: white;
        }
    }

    .pagination-previous, .pagination-next{
        border-radius: 10px;
        padding: 0 .5em ;
    }

    .disabled{
        display: none;
    }
}
// separator line style
.lineSeparator{
    width: 60%;
    height: 3px;
    border-radius: 10px;
    background-color: $primaryColor;
    position: relative;
    margin: 2em 0;

    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        // width: 15px;
        // height: 15px;
        background-color: transparent;
        border-bottom : 25px solid $primaryColor;
        border-left : 25px solid transparent;
    }
}
// socials icon color
.linkedinIcon{
    color: $linkedinColor;
}

.facebookIcon{
    color: $facebookColor;
}

.twitterIcon{
    color: $twitterColor;
}

.youtubeIcon{
    color: $youtubeColor;
}

.instagramIcon i{
    background: $instagramColor;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    @include transi();

    
}
.instagramIcon:hover i{
    background : $instaHoverColor;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

.websiteIcon{
    color: $websiteColor;
}

.filterForm{
    @include flex(center,column);
    gap: .5em;
    background-color: #F9FDFF;
    padding: 1em 3em;
    // position: sticky;
    top: 0;
    min-width: 60%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.541);
    // border: 1px black solid;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 4em;
}

.categoryForm, .groupForm{
    @include flex();
    padding: 1em 0;
    gap: 1em;
    input, label{
        cursor: pointer;
    }

    // div:not(:last-of-type){
    //     position: relative;
    //     &:after{
    //         content: '';
    //         height: 100%;
    //         width: 1px;
    //         position: absolute;
    //         right: -0.5em;
    //         top: 0;
    //         background-color: black;
    //     }
    // }
}

.groupForm{
    padding: 0;
}


.adminLogin{
    @include flex();
    padding-top: 3em;

    #adminForm{
        @include flex(center, column);
        gap: .5em;
    }
}

.noResult{
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
    font-size: 20px;
    font-family: robotoBold;
    color: white;
}

//filter tags
.inputLabel {
    position: relative;
    display: inline-block;

    input {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    }

    span {
        @include transi();
        cursor: pointer;
        padding: .3em .5em;
        border-radius: 3px;
        background-color: black;
        color: white;
    }

    input:checked + span {
        background-color: hsl(120, 33%, 36%);
    }
}

.categories{
    // align-self: flex-start;
    @include flex(flex-start);
    gap: .5em;
    width: 100%;
    padding-bottom: .5em;

    .tags{
        padding: .3em .5em;
        border-radius: 8px;
        // cursor:auto;
        font-family: robotoBold;
        font-size: 16px;
        color: white;
        background-color: $primaryColor;
    }
}

.cardContainerBackground{
    background-image: url(../../public/images/card_container_banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    // grid-row-gap: 5em;
    gap: 3em;
    justify-items: center;
    justify-content: center;
    // align-items: start;
    align-content: center;
    margin: 0 auto;
    padding: 5em 0;
    width: 80%;

}
// Cards style
.card{
    @include flex(center, column, center);
    @include transi();
    gap: .7em;
    background-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.753);
    padding: 1em;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    min-height: 200px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='600' height='560' preserveAspectRatio='none' viewBox='0 0 600 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1173%26quot%3b)' fill='none'%3e%3cpath d='M-100.66 25.99 a126.65 126.65 0 1 0 253.3 0 a126.65 126.65 0 1 0 -253.3 0z' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-56.49 -18.19 a38.3 38.3 0 1 0 76.6 0 a38.3 38.3 0 1 0 -76.6 0z' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-109.16 34.48 a143.64 143.64 0 1 0 287.28 0 a143.64 143.64 0 1 0 -287.28 0z' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M447.18 -33.84 a6.98 6.98 0 1 0 13.96 0 a6.98 6.98 0 1 0 -13.96 0z' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M579.995%2c200.982C621.921%2c201.234%2c665.702%2c189.875%2c687.585%2c154.112C710.283%2c117.015%2c706.376%2c69.204%2c683.107%2c32.463C661.347%2c-1.895%2c620.663%2c-15.981%2c579.995%2c-15.769C539.759%2c-15.559%2c500.058%2c-0.591%2c478.732%2c33.53C456.129%2c69.695%2c452.549%2c116.34%2c474.618%2c152.834C496.037%2c188.252%2c538.605%2c200.734%2c579.995%2c200.982' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M524.013%2c89.254C543.723%2c88.24%2c562.675%2c81.093%2c573.416%2c64.536C585.215%2c46.348%2c589.969%2c22.966%2c579.232%2c4.132C568.414%2c-14.845%2c545.847%2c-22.793%2c524.013%2c-22.124C503.395%2c-21.492%2c485.486%2c-10.024%2c474.362%2c7.347C462.133%2c26.444%2c453.187%2c50.725%2c464.942%2c70.117C476.442%2c89.088%2c501.858%2c90.394%2c524.013%2c89.254' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-57.93 431.26 a41.19 41.19 0 1 0 82.38 0 a41.19 41.19 0 1 0 -82.38 0z' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M42.666%2c548.323C65.895%2c548.929%2c91.68%2c545.789%2c103.728%2c525.92C116.085%2c505.541%2c108.51%2c480.171%2c96.462%2c459.607C84.576%2c439.32%2c66.177%2c421.491%2c42.666%2c421.699C19.429%2c421.905%2c1.716%2c440.196%2c-9.504%2c460.546C-20.274%2c480.079%2c-24.513%2c503.699%2c-13.117%2c522.873C-1.925%2c541.704%2c20.767%2c547.752%2c42.666%2c548.323' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-102.51 475.84 a130.35 130.35 0 1 0 260.7 0 a130.35 130.35 0 1 0 -260.7 0z' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M547.501%2c580.695C575.2%2c579.472%2c602.618%2c571.274%2c617.968%2c548.185C635.116%2c522.391%2c641.781%2c488.833%2c626.471%2c461.907C611.022%2c434.736%2c578.754%2c424.71%2c547.501%2c424.255C515.264%2c423.786%2c481.605%2c432.254%2c464.447%2c459.549C446.312%2c488.398%2c446.09%2c526.821%2c465.358%2c554.926C482.75%2c580.294%2c516.774%2c582.052%2c547.501%2c580.695' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M417.28 444.06 a66.78 66.78 0 1 0 133.56 0 a66.78 66.78 0 1 0 -133.56 0z' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M518.658%2c541.597C541.021%2c541.701%2c561.808%2c529.387%2c572.563%2c509.78C582.939%2c490.864%2c579.773%2c468.285%2c569.185%2c449.487C558.367%2c430.281%2c540.692%2c413.45%2c518.658%2c414.074C497.373%2c414.676%2c483.217%2c433.611%2c472.853%2c452.213C462.85%2c470.168%2c456.242%2c490.992%2c465.615%2c509.283C475.735%2c529.031%2c496.468%2c541.494%2c518.658%2c541.597' fill='rgba(21%2c 72%2c 84%2c 0.38)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1173'%3e%3crect width='600' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

    &:hover{
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.753);
    }

    img{
        height: 90px;
        width: 90px;
        object-fit: cover;
        border-radius: 50%;
        // border: 1px solid black;
    }

    .tagsIcon{
        font-size: 26px;
    }

    .description{
        padding: 0 .5em;
    }
    .socialsLink{
        // align-self: flex-start;
        padding: .5em 0;
        a{
            display: inline-block;
            margin-right: .3em;
        }
        i{
            font-size: 36px;
        }
    }

    .button{
        background-color: $primaryColor;

        &:hover{
            background-color: white;
            color: $primaryColor;
        }
    }
}

.introContainer{
    @include flex();
    gap: 1em;
    padding: 8em 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.6) 0%,rgba(0,0,0,.6) 100%),url(../../public/images/talent_banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color:white;

    h1{
        padding-bottom: 1em;
    }

    h1, p{
        width: 80%;
    }
}

.detailSection{
    @include flex(center, column, center);
    padding-top: 3em;
    padding-bottom: 4em;
    gap: 3em;
    img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        // border: 1px solid black;
    }

    .profileContainer{
        @include flex();
        gap: 3em;

        div{
            @include flex(flex-start, column, flex-start);
            gap: .5em;
        }

        .categories{
            @include flex(flex-start, column, flex-start);

            div{
                @include flex(flex-start);
            }
        }
    }

    .projectContainer{
        @include flex(center, column, center);
        width: 80%;
        
        h2{
            padding-bottom: 1em;
        }
        a{
            display: inline-block;
            padding: .5em;
            box-shadow: 0 3px 4px rgb(87, 87, 87);
            background-color: white;

            &:hover{
                box-shadow: 0 3px 4px $thirdColor;
            }
        }
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
        grid-row-gap: 1em;
        gap: 2em;
        justify-items: center;
        justify-content: center;
        align-items: start;
        align-content: center;
        margin: 0 auto;
        width: 100%;
        
    }

    .agencyContainer, .talentContainer{
        @include flex(center, column, center);
        width: 80%;
    }

    .contactInfoContainer{
        @include flex(center,column);
        gap: 1em;
        padding: 2em;
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
        background-color: white;
        max-width: 500px;
        width: 90%;
    
        .socialsLink{
            padding: .5em 0;
            a{
                display: inline-block;
                margin-right: .3em;
            }
            i{
                font-size: 36px;
            }
        }
    }
}
