#projectSection{
    @include flex(center, column, center);
    padding-bottom: 2em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='2000' preserveAspectRatio='none' viewBox='0 0 2000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3cpath d='M835.4 2236.62C1037.65 2187.63 963.43 1823.27 1418.75 1642.82 1874.07 1462.37 1752.58 800.78 2002.1 662.82' stroke='rgba(21%2c 72%2c 84%2c 0.34)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1248.01 2189.39C1429.97 1952.06 1161.09 1261.3 1588.8 1042.75 2016.51 824.2 2063.27 586.03 2270.38 562.75' stroke='rgba(21%2c 72%2c 84%2c 0.34)' stroke-width='2'%3e%3c/path%3e%3cpath d='M134.31 2339.45C480.19 2239.83 478.37 1365.4 1094.08 1266.23 1709.8 1167.06 1781.45 762.58 2053.86 746.23' stroke='rgba(21%2c 72%2c 84%2c 0.34)' stroke-width='2'%3e%3c/path%3e%3cpath d='M492.86 2200.54C866.04 2000.71 741.71 932.3 1373.21 754.13 2004.72 575.96 2001.04 271.17 2253.57 254.13' stroke='rgba(21%2c 72%2c 84%2c 0.34)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1042.63 2308.59C1309.6 2090.98 1123.84 1313.99 1602.62 1049.84 2081.4 785.69 1961.63 486.7 2162.61 429.84' stroke='rgba(21%2c 72%2c 84%2c 0.34)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='2000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .introContainer{
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6) 0%,rgba(0,0,0,.6) 100%),url(../../public/images/project_banner.jpg);
        background-position: top center;
        h1{
            padding-bottom: 0;
        }
    }

    .presentation{
        @include flex($direction:column);
        gap: 1em;
        padding: 3em 0 4em;
        text-align: center;
        width: 80%;
    }

    .projectContainer{
        width: 80%;
        @include flex(center, column, flex-start);

        .project{
            width: 100%;
            @include flex(flex-start, column, flex-start);
            gap: 3em;
            margin: 0 auto;
            padding: 2em 0 4em;
        }

        .projectCard{
            @include flex();
            flex-wrap: nowrap;
            @include transi();
            overflow: hidden;
            gap: .5em;
            border-radius: 5px;
            width: 100%;
            max-width: 900px;
            min-height: 200px;
            height: 250px;
            background-color: white;

            img{
                height: 250px;
                width: 250px;
                min-width: 250px;
                line-height: 0;
                object-fit: cover;
            }
        
            .textContainer{
                @include flex(space-around, column, flex-start);
                gap: 1em;
                padding: 1em;
                height: 250px;
            }
        }
    }
}
.projectCurrent{
    box-shadow: 4px 4px 3px 1px #4c69b39d;
    &:hover{
        box-shadow: 4px 4px 8px 1px #4c69b39d;
    }
}
.projectLooking{
    box-shadow: 4px 4px 3px 1px #e5cb9f9d;
    &:hover{
        box-shadow: 4px 4px 8px 1px #e5cb9f9d;
    }
}
.projectOver{
    box-shadow: 4px 4px 3px 1px hsla(120, 33%, 36%, 0.6);
    &:hover{
        box-shadow: 4px 4px 8px 1px hsl(120, 33%, 36%, 0.6);
    }
}

.projectDetail{
    @include flex($direction:column);
    // gap: 2em;
    // padding-top: 5em;
}

.projectDetail{
    .profileContainer{
        text-align: center;
    }

    // .cardContainer{
    //     width: 100%;
    // }

    .card{
        @include flex(center, column, center, nowrap);
        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
        div{
            @include flex(flex-start, $wrap:nowrap);
            gap: 1em;
            width: 100%;
        }
        .socialsLink, .categories, .description{
            display: none;
        }
    }
}