{{ form_start(form, {'attr': {'class': 'filterForm'}})}}
    {# {{ form_widget(form.q, {'attr': {'placeholder': 'Nom'}})}} #}
    {{ form_widget(form.categories)}}
    <button type="submit" class="button">Filtrer</button>
{{ form_end(form) }}