<footer>
    <p>© 2022 Tous droits réservés, créé par Rodrigues Neylon.</p>
    <div class="right">
        <div class="socialsLink">
        <a href="#" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
        </div>
        <a href="">Mentions légales</a>
        <a href="">Politique de gestion des données</a>
    </div>
</footer>