{% extends 'base.html.twig' %}

{% block title %}{{project.name}}{% endblock %}

{% block body %}
<main>
<section class="projectDetail">
    {% if project.status == 'En cours' %}
        <div class="projectCard projectCurrentContainer">
            {% include "project/projectCard.html.twig" %}                    
        </div>
    {% endif %}
    
    {% if project.status == 'En recherche de talents' %}
        <div class="projectCard projectLookingContainer">
            {% include "project/projectCard.html.twig" %}                    
        </div>
    {% endif %}

    {% if project.status == 'Terminé' %}
        <div class="projectCard projectOverContainer">
            {% include "project/projectCard.html.twig" %}                    
        </div>
    {% endif %}
    <a href="{{path('app_project_index')}}">Retour</a>
</section>
</main>
{% endblock %}
